.app-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;

  width: 100%;
}

.app-container h2 {
  font-size: 2.5rem;
}

.app-container p {
  font-size: 1.4rem;
}

.cta-bold {
  margin: 2rem 0;
  font-weight: bold;
}

input[type="file"] {
  display: none;
}

.image-upload__form {
  align-items: center;
  background-color: #fff;
  border-radius: 5rem;
  display: flex;
  flex-direction: column;
  filter: drop-shadow(3px 5px 9px #cdcdcd);
  padding: 5rem;
  justify-content: center;
  min-height: 60%;
  width: 80%;
}

form {

}

.image-result {
  margin-top: 3em;
  width: 40%;
}

.image-result img {
  width: 100%;
  height: 100%;
}



.image-upload__cta {
  align-items: baseline;
  display: flex;
  justify-content: center;
}

.image-upload__label {
  align-self: center;
  background-color: #efefef;
  border: 1px solid #d3d3d3;
  border-radius: 5rem;
  cursor: pointer;
  font-size: 2rem;
  font-weight: bold;
  margin-right: 1em;
  padding: .4em 3em;
}


.convert__btn {
  background-color: #012a50;
  border: 1px solid #012a50;
  border-radius: 5rem;
  color: #fff;
  cursor: pointer;
  font-size: 1.3rem;
  font-weight: bold;
  padding: 1em 3em;
}

.image-result__placeholder {
  color: #c3c3c3;
  margin-top: 3rem;
  text-align: center;
}

.image-result__placeholder p {
  font-size: 1.2rem;
}

.dropshadow {
  filter: drop-shadow(1px 3px 8px #e3e3e3);
}
